body {
  width: 100%;
  height: 100%;
  font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #131212
}

html {
  width: 100%;
  height: 100%
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 65px;
  text-transform: uppercase;
  font-family: pragmatica-web-condensed, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 4px
}

h2 {
  font-size: 42px
}

p {
  margin: 0 0 25px;
  font-size: 14px;
  line-height: 1.5
}

@media (min-width:768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.2;
  }
}

a {
  color: #3a82d4;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

a:focus, a:hover {
  text-decoration: none;
  color: #b4e8f8
}

.light {
  font-weight: 400
}

.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: pragmatica-web, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.navbar-custom .navbar-brand {
  font-weight: 700;
  display: none
}

.navbar-custom .navbar-brand:focus {
  outline: 0
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff
}

.navbar-custom .navbar-brand .navbar-toggle:active, .navbar-custom .navbar-brand .navbar-toggle:focus {
  outline: 0
}

.navbar-custom a {
  color: #fff
}

.navbar-custom .nav li {
  font-size: 16px
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out
}

.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, .8);
  outline: 0;
  background-color: transparent
}

.navbar-custom .nav li a:active, .navbar-custom .nav li a:focus {
  outline: 0;
  background-color: transparent
}

.navbar-custom .nav li.active {
  outline: 0
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, .3)
}

.navbar-custom .nav li.active a:hover {
  color: #fff
}

@media (min-width:768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #131212
  }
  .navbar-custom.top-nav-collapse .navbar-brand {
    display: inline
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../Images/self.jpeg) no-repeat center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 40px
}

.intro .intro-body .intro-text {
  font-size: 15px;
}

@media (min-width:768px) {
  .intro {
    height: 100%;
    padding: 0
  }
  .intro .intro-body .brand-heading {
    font-size: 90px
  }
  .intro .intro-body .intro-text {
    font-size: 25px
  }
}

.content-section {
  padding-top: 100px;
  font-size: 20px
}

.content-section .row [class*=col-] {
  padding-top: 10px
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px
}

@media (min-width:767px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 150px
  }
  .download-section {
    padding: 100px 0
  }
  #map {
    height: 400px;
    margin-top: 250px
  }
}

.btn {
  text-transform: uppercase;
  font-family: pragmatica-web, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0
}

.btn-default {
  border: 1px solid #69cdeb;
  color: #69cdeb;
  background-color: transparent
}

.btn-default:focus, .btn-default:hover {
  border: 1px solid #69cdeb;
  outline: 0;
  color: #000;
  background-color: #69cdeb
}

ul.banner-social-buttons {
  margin-top: 0
}

@media (max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px
  }
}

@media (max-width:767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0
  }
}

#contact a {
  margin: 5px
}

footer {
  padding: 50px 0
}

footer p {
  margin: 0
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2)
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, .2)
}

img::selection {
  background: 0 0
}

img::-moz-selection {
  background: 0 0
}

.row {
  margin: 8px -16px;
}

.row>.column {
  padding: 10px;
}

.column {
  float: left;
  width: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}