#projects {
    width: 80%;
}

.project-section{
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

.project {
    margin: 0px 10px 10px;
}

.project-content {
    font-style: italic;
}


#project-image {
    width: 80%;
    height: 180px;
}

#project-image-phone {
    width: 50%;
    height: 180px;
}

#issue-image {
    
    height: 180px;
}

@media(max-width: 800px){
    .project-section{
        flex-direction: column;
    }

    .project {
        margin: 30px 15px 15px;
        width: 95%;
    }

    #project-image {
        width: 100%;
    }

    #issue-image {
        width: 100%;
    }

    #project-image-phone {
        width: 70%;
        height: 200px;
    }
}